.choice-box {
    -fx-background-color: red;
}

.choice-box .list-cell:filled:selected {
    -fx-text-fill: green;
}

.choice-box .list-cell:filled {
    -fx-text-fill: blue;
}

.choice-box .context-menu {
    -fx-background-color: pink;
}

.choice-box .context-menu .menu-item {
    -fx-border-color: orange;
    -fx-border-width: 1px;
}
.choice-box .arrow-button {
    -fx-background-color: violet;
}